{% extends 'base.html' %}

{% block content %}


    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h4>{{ target_user.username }}</h4>
        </div>
        <div>
            {{ target_user.date_joined }}
        </div>
        <div>
            {#            psk 고유값을 넣어 줘야함#}
            <a href="{% url 'accountapp:update' pk=target_user.pk  %}">
                Update Info
            </a>
        </div>
        <div>
            {#            pk 고유값을 넣어 줘야함#}
            <a href="{% url 'accountapp:delete' pk=target_user.pk  %}">
                Quit
            </a>
        </div>
    </div>


{% endblock %}